:root {
  --main-color: #e3fb6d;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.wrap {
  width: 100vw;
  background: #ccc;
  margin: 0 auto;
}
.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
}

header .logo {
  padding: 10px;
  transition: 0.5s;
}

header .logo img {
  width: 100%;
}

header nav {
  display: flex;
  gap: 50px;
}

header nav a {
  color: #fff;
}

section {
  width: 100%;
  height: 100vh;
}

#title section {
  background-image: url(./images/title-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

#title .txt-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding-left: 100px;
}

#title .txt-box h2 {
  font-size: 100px;
  font-weight: 700;
}

#title .area {
  width: 50%;
  margin-top: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 100px;
}

#title .area .row {
  display: flex;
  gap: 5px;
  margin-bottom: -30px;
}

#title .area .row1,
#title .area .row3 {
  transform: translateX(-52.5px);
}

#title .area .row .stack-box {
  position: relative;
}

#title .area .row .stack-box p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-color);
}
