@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
  --main-color: #fae25f;
  --font-color: #605e5e;
  --sub-color: #e3bd4b;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  overflow: hidden;
  color: var(--font-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.wrap {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper .swiper-pagination {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff !important;
}

.dots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20px;
  height: 100px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.dots .dot {
  cursor: pointer;
}

header {
  width: 100%;
  max-height: 200px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  transition: 0.5s;
}

header .logo {
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}

header .logo img {
  width: 100%;
}

header nav ul {
  display: flex;
  gap: 50px;
}

header nav ul li {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

section {
  width: 100%;
  height: 100vh;
  padding: 100px;
}

/* ################# */
/* ##### TITLE ##### */
/* ################# */

#title {
  background-image: url(./images/title-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

#title .txt-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  z-index: 100;
}

#title .txt-box h2 {
  font-size: 100px;
  font-weight: 600;
}

#title .txt-box p {
  font-size: 22px;
  font-weight: 300;
}

#title .area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: 50px;
  right: 100px;
  z-index: 0;
}

#title .area .row {
  display: flex;
  gap: 5px;
  margin-bottom: -32.5px;
}

#title .area .row1,
#title .area .row3 {
  transform: translateX(-52.5px);
}

#title .area .row .stack-box {
  position: relative;
}

#title .area .row .stack-box .stack-txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  color: var(--main-color);
  font-weight: 300;
}

/* ################### */
/* ##### PROFILE ##### */
/* ################### */

#profile {
  background-image: url(./images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#profile h2 {
  font-size: 80px;
  text-align: center;
  font-weight: 500;
}

#profile .profile-box {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  padding-left: 300px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

#profile .profile-box .img-box {
  position: absolute;
  top: -50px;
  left: 100px;
  z-index: -1;
  display: flex;
  flex-direction: column;
}

#profile .profile-box .img-box img {
  margin-bottom: -45px;
}

#profile .profile-box .img-box img:nth-child(2) {
  transform: translateX(-90px);
}

#profile .profile-box .name {
  font-size: 28px;
  font-weight: 300;
  color: #000;
}

#profile .profile-box .name span {
  font-size: 16px;
  color: var(--font-color);
  font-weight: 200;
}

#profile .profile-box .contents {
  margin-top: 20px;
}

#profile .profile-box .content {
  padding: 20px 10px;
  border-bottom: 0.1px solid #ccc;
}

#profile .profile-box .content h3 {
  font-size: 20px;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
}

#profile .profile-box .content p {
  font-weight: 300;
}

#profile .profile-box .icon-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#profile .profile-box .icon-box .stack-icon {
  background: var(--font-color);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 3px 7px;
  border-radius: 3px;
}

#profile .profile-box .icon-box .stack-icon p {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
}

#profile .profile-box .advantage p {
  color: #000;
}

#profile .profile-box .advantage p span {
  font-size: 14px;
  color: var(--font-color);
}

/* #################### */
/* ##### PROJECTS ##### */
/* #################### */

#projects {
  /* background-image: url(./images/project-bg.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#projects h2 {
  font-size: 80px;
  text-align: center;
  font-weight: 500;
}

#projects .project-box {
  width: 100%;
  height: calc(100% - 120px);
  display: flex;
  justify-content: flex-end;
  outline: 2px solid #7e947b;
  outline: 2px solid var(--font-color);
}

#projects .project-box .project {
  display: flex;
}

#projects .project-box .project .btn-arcodion {
  width: 50px;
  height: 100%;
  background: var(--main-color);
  color: #fff;
  border-right: 0.1px solid #fff;
  display: flex;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}

#projects .project-box .project .btn-arcodion.active {
  background: var(--sub-color);
}

#projects .project-box .project:last-child .btn-arcodion {
  border-right: none;
}

#projects .project-box .project .btn-arcodion > p {
  writing-mode: vertical-rl;
}

#projects .project-box .project .content {
  overflow: hidden;
  background: #fff;
}

#projects .project-box .project .content.active .project-title {
  text-align: center;
  font-size: 24px;
}

#projects .project-box .project .content.active .project-title span {
  font-size: 18px;
  font-weight: 400;
}

#projects .project-box .project .content.active .project-contents {
  height: calc(100% - 35px);
  padding-left: 50px;
  display: flex;
  gap: 20px;
}

#projects
  .project-box
  .project
  .content.active
  .project-contents
  .project-txt-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#projects
  .project-box
  .project
  .content.active
  .project-contents
  .project-txt-box
  h4 {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

#projects
  .project-box
  .project
  .content.active
  .project-contents
  .project-txt-box
  .btn-box {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

#projects
  .project-box
  .project
  .content.active
  .project-contents
  .project-txt-box
  .btn-box
  a {
  width: 120px;
  text-align: center;
  border: 1px solid var(--font-color);
  border-radius: 3px;
  padding: 3px;
}

#projects
  .project-box
  .project
  .content.active
  .project-contents
  .project-txt-box
  .btn-box
  a:hover {
  background: var(--font-color);
  color: #fff;
}

#projects .project-box .project .content.active .project-contents .img-box {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects
  .project-box
  .project
  .content.active
  .project-contents
  .img-box
  .img {
  width: 100%;
  height: calc(100% - 57px);
}

#projects
  .project-box
  .project
  .content.active
  .project-contents
  .img-box
  .img
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#projects
  .project-box
  .project
  .content.active
  .project-contents
  .img-box
  .page-btn-box {
  display: flex;
  justify-content: center;
  gap: 2px;
}

#projects
  .project-box
  .project
  .content.active
  .project-contents
  .img-box
  .page-btn-box
  button {
  padding: 10px;
  border: 0.1px solid var(--font-color);
  background: #fff;
  border-radius: 3px;
}

#projects
  .project-box
  .project
  .content.active
  .project-contents
  .img-box
  .page-btn-box
  button.active {
  background: var(--font-color);
  color: #fff;
}

/* ################### */
/* ##### CONTACT ##### */
/* ################### */

#contact {
  background-image: url(./images/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#contact section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

#contact h2 {
  font-size: 80px;
  text-align: center;
  font-weight: 500;
}

#contact .contents {
  margin-top: 150px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

#contact .contents .content-col {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

#contact .contents .content {
  width: 250px;
  border-top: 5px solid #605e5e;
}

#contact .contents .content.f-logo {
  width: 200px;
  border-top: none;
}

#contact .contents .content.f-logo img {
  cursor: pointer;
}

#contact .contents .content a {
  display: block;
  width: 100%;
  text-align: center;
  border: 2px solid var(--font-color);
  border-radius: 3px;
  padding: 7px;
  font-size: 15px;
  color: var(--font-color);
  margin-top: 20px;
}

#contact .contents .content a:hover {
  background: var(--font-color);
  color: var(--main-color);
}

#contact .contents .content .content-title {
}

#contact .contents .content p {
}

#contact .copy {
  font-size: 14px;
  text-align: center;
}

/* ##################### */
/* ##### animation ##### */
/* ##################### */

/* 페이지 공통 */
.slide-up,
.slide-right {
  opacity: 0;
}

.swiper-slide-active .slide-up {
  animation: slide-up 1s 0.5s forwards;
}

.swiper-slide-active .slide-right {
  animation: slide-right 1s forwards;
}

.swiper-slide-active .slide-right.dlay-1 {
  animation: slide-right 1s 0.3s forwards;
}

.swiper-slide-active .slide-right.dlay-2 {
  animation: slide-right 1s 0.6s forwards;
}

.swiper-slide-active .slide-right.dlay-3 {
  animation: slide-right 1s 0.9s forwards;
}

.swiper-slide-active .slide-right.dlay-4 {
  animation: slide-right 1s 1.2s forwards;
}

/* ## title page ## */
/* 플립 */
#title .area .row .stack-box {
  opacity: 0;
  transition: 1.5s;
}

#title .area .row .stack-box.flip {
  opacity: 1;
  transform: rotateY(180deg);
}

/* 호버 */
#title .area .row .stack-box:hover svg {
  fill: var(--main-color);
  animation: smallTobig 1s ease-in infinite;
}

#title .area .row .stack-box:hover .stack-txt {
  color: var(--font-color);
  font-weight: 500;
  transition: 0.2s;
}

#title .area::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  animation: ripple 2s 1s infinite;
  z-index: -1;
}

#title .area .row .stack-box:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  animation: ripple 2s 0.3s infinite;
}

/* ## projects page ## */
/* 액티브 클래스 >> 슬라이드 */
#projects .project-box .project .content {
  width: 0;
  transition: 0.8s ease;
}

#projects .project-box .project .content.active {
  width: calc(100vw - 350px);
}

#projects .project-box .project .content .project-title {
  opacity: 0;
}

#projects .project-box .project .content.active .project-title {
  animation: slide-up-sm 1s 0.5s ease-in-out forwards;
}

#projects .project-box .project .content .project-contents {
  opacity: 0;
}

#projects .project-box .project .content.active .project-contents {
  opacity: 1;
  transition: 1s 0.5s;
}

/* ## keyframes ## */
@keyframes smallTobig {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  to {
    width: 3000px;
    height: 3000px;
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up-sm {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left-sm {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateY(0);
  }
}
