@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
  --main-color: #e3fb6d;
  --font-color: #605e5e;
  --sub-color: #95fc5d;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  overflow: hidden;
  color: var(--font-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.wrap {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  overflow-y: auto;
  background: #ccc;
  margin: 0 auto;
}

.wrap::-webkit-scrollbar {
  display: none;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: #fff;
}

.dots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20px;
  height: 100px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

header {
  width: 100%;
  max-height: 200px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  transition: 0.5s;
}

header .logo {
  padding: 10px;
  transition: 0.5s;
}

header .logo img {
  width: 100%;
}

header nav ul {
  display: flex;
  gap: 50px;
}

header nav ul li {
  color: #fff;
  cursor: default;
  font-size: 18px;
}

section {
  width: 100%;
  height: 100vh;
  padding: 100px;
}
/* ################# */
/* ##### TITLE ##### */
/* ################# */

#title {
  background-image: url(./images/title-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

#title .txt-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

#title .txt-box h2 {
  font-size: 100px;
  font-weight: 700;
}

#title .txt-box p {
  font-size: 20px;
  font-weight: 100;
}

#title .area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#title .area .row {
  display: flex;
  gap: 5px;
  margin-bottom: -30px;
}

#title .area .row1,
#title .area .row3 {
  transform: translateX(-52.5px);
}

#title .area .row .stack-box {
  position: relative;
  transition: 0.5s;
}

#title .area .row .stack-box .stack-txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-color);
  font-weight: 300;
}

/* ################### */
/* ##### PROFILE ##### */
/* ################### */

#profile {
  background-image: url(./images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#profile h2 {
  font-size: 80px;
  text-align: center;
}

#profile .profile-box {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  padding-left: 300px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

#profile .profile-box .img-box {
  position: absolute;
  top: -50px;
  left: 100px;
  z-index: -1;
  display: flex;
  flex-direction: column;
}

#profile .profile-box .img-box img {
  margin-bottom: -45px;
}

#profile .profile-box .img-box img:nth-child(2) {
  transform: translateX(-90px);
}

#profile .profile-box .name {
  font-size: 28px;
  font-weight: 300;
  color: #000;
}

#profile .profile-box .name span {
  font-size: 16px;
  color: var(--font-color);
  font-weight: 200;
}

#profile .profile-box .contents {
  margin-top: 20px;
}

#profile .profile-box .content {
  padding: 20px 10px;
  border-bottom: 0.1px solid #ccc;
}

#profile .profile-box .content h3 {
  font-size: 20px;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
}

#profile .profile-box .content p {
  font-weight: 300;
}

#profile .profile-box .icon-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#profile .profile-box .icon-box .stack-icon {
  background: var(--font-color);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 3px 7px;
  border-radius: 3px;
}

#profile .profile-box .icon-box .stack-icon p {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
}

#profile .profile-box .advantage p {
  color: #000;
}

#profile .profile-box .advantage p span {
  font-size: 14px;
  color: var(--font-color);
}

/* #################### */
/* ##### PROJECTS ##### */
/* #################### */

#projects {
  background-image: url(./images/project-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#projects h2 {
  font-size: 80px;
  text-align: center;
}

/* ################### */
/* ##### CONTACT ##### */
/* ################### */

#contact {
  background-image: url(./images/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

#contact h2 {
  font-size: 80px;

  text-align: center;
}

#contact .contents {
  display: flex;
  gap: 40px;
  justify-content: center;
}

#contact .contents .content {
  width: 250px;
  border-top: 5px solid #605e5e;
}

#contact .contents .content.f-logo {
  width: 200px;
  border-top: none;
}

#contact .contents .content .content-title {
}

#contact .contents .content p {
}

#contact .copy {
  font-size: 14px;
  text-align: center;
}
